.dialogItem {
    display: grid;

    grid-template-areas:
     ' a p ';


    /*grid-template-rows: 80px 1fr;*/
    grid-template-columns: 4fr 8fr;
}
.avaItem {
    grid-area: a;

}
.ava {
    width: 40px;
    border-radius: 50%;

}
.person {
    padding-top: 15px;
    grid-area: p;

}