.header {
    background-color: bisque;
    grid-area: h;
    display: grid;

    grid-template-areas:
     ' i t ';


    /*grid-template-rows: 80px 1fr;*/
    grid-template-columns: 4fr 8fr;


}
.img  {
    grid-area: i;
    width: 60px;
    height: 60px;
    margin:  10px 10px 10px 10px ;
}
.title {
    grid-area: t;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: xx-large;
    margin-top: 10px;
}